html {
  background-color: #a0ce90;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80vw;
  background-color: #D9F2D0;
  flex-direction: column;
}

.Screen {
  display: none;
  width: 70vw;
  text-align: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 20vh;
  left: 10vw;
  width: 80vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.7); /* 黒色、70%透過 */
  display: none;
  text-align: center;
  z-index: 20000;
}

.overlay p {
  color: white;
  font-size: clamp(1rem, 2vw, 1.5rem); /* 最小1rem、推奨2vw、最大1.5rem */
}

.active {
  display: block;
}

/* Specific styling for different elements can be added here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 2vh;
  align-items: center;
}

select {
  font-size: clamp(1rem, 2.5vw, 1.5rem); /* フォントサイズを画面幅に応じて調整 */
  cursor: pointer;
  text-align: center;
  width: 20vw;
}

button {
  font-size: clamp(1rem, 3vw, 2rem); /* ボタンのフォントサイズをウィンドウ幅に応じて調整 */
  max-width: 100%;         /* ボタンがウィンドウ幅を超えないようにする */
  cursor: grab;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3rem); /* 最小1.5rem、最大3rem */
}

h2 {
  font-size: clamp(1.2rem, 3vw, 2.5rem); /* 最小1.2rem、最大2.5rem */
}

.QuestionTitle, .QuestionTitle_L, .QuestionTitle_R {
  font-size: clamp(1.2rem, 3vw, 2.5rem); /* 見出しに相応しいレスポンシブサイズ */
  font-weight: bold;
}

.QuestionDescription, .QuestionDescription_L, .QuestionDescription_R {
  font-size: clamp(1rem, 2vw, 1.5rem); /* 説明文のフォントサイズ */
}

#AnswerSign {
  margin-top: 13vh;
  font-size: clamp(1.5rem, 5vw, 3rem); /* 最小1.5rem、最大3rem */
  color: red;
}

.QuestionNumber, .NumOfCorrect, #AnswerText {
  font-size: clamp(2rem, 3vw, 3rem); /* 最小1rem、最大1.5rem */
}

.TotalQuestionNumber {
  font-size: clamp(1rem, 1vw, 1.5rem); /* 合計問題数のフォントサイズ */
}

.PriceComparisonRows {
  display: flex; /* Flexboxを使用して子要素を水平に配置 */
  gap: 20px; /* 子要素間に20pxのスキマを設定 */
}

#rightrow, #leftrow {
  flex: 1; /* 左右の列を均等に広げる */
}

/* Responsive design */
@media (max-width: 200px) {
  .container {
    flex-direction: column;
  }

  button {
    font-size: clamp(1rem, 3vw, 1.5rem); /* モバイル向けにボタンサイズを調整 */
    padding: 2vw 8vw; /* モバイル向けのパディング */
  }

  h1 {
    font-size: clamp(1.2rem, 4vw, 2.5rem); /* モバイル向けに見出しのサイズを調整 */
  }

  h2 {
    font-size: clamp(1rem, 3vw, 2rem); /* モバイル向けにサイズを調整 */
  }

  .QuestionTitle, .QuestionTitle_L, .QuestionTitle_R {
    font-size: clamp(1rem, 4vw, 2rem); /* モバイル向けにサイズ調整 */
  }

  .QuestionNumber, .NumOfCorrect, #AnswerText {
    font-size: clamp(0.8rem, 1vw, 1rem); /* モバイル向けに調整 */
  }

  #AnswerSign {
    font-size: clamp(1rem, 6vw, 2.5rem); /* モバイル向けのサイン表示 */
  }
}