html {
  background-color: #a0ce90;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70vw;
  background-color: #D9F2D0;
  flex-direction: column;
}

.Screen {
  display: none;
  width: 60vw;
  text-align: center;
}

select {
  font-size: 15px;
  /* padding: 3px */
  cursor: pointer;
  text-align: center;
}

.active {
  display: block;
}

/* Specific styling for different elements can be added here */
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

button {
  font-size: 3vw;          /* ボタンのフォントサイズをウィンドウ幅に応じて調整 */
  padding: 2vw 4vw;        /* ボタンのサイズもビューポートに応じて変更 */
  max-width: 100%;         /* ボタンがウィンドウ幅を超えないようにする */
  box-sizing: border-box;  /* パディングやボーダーを含めたボックスサイズ計算 */
}

.QuestionTitle, .QuestionTitle_L, .QuestionTitle_R {
  font-size: 24px;
  font-weight: bold;
}

.QuestionDescription, .QuestionDescription_L, .QuestionDescription_R {
  margin-bottom: 10px;
}

#AnswerSign {
  font-size: 30px;
  color: red;
}

.QuestionNumber, .NumOfCorrect, #AnswerText {
  font-size: 25px;
}

.TotalQuestionNumber{
  font-size: 25px;
}

.PriceComparisonRows {
  display: flex;
}

.rightrow, .leftrow{
  width: 40vw;
  padding: 20vw;
  box-sizing: border-box;
}

/* ... and so on for other elements */

/* Responsive design */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    flex-direction: column;
  }
  /* ... other responsive adjustments */
}